      body{background-color: rgb(255, 235, 204); font-size: 16px;}
      #cor-amarela {color: yellow;}
      #cor-vermelho {color: red;}
      #cor-marrom {color: brown;}
      h1{color: orange; font-size: 65px; font-family: sans-serif;} 
      .cor-favorita {background-color: rgb(252, 216, 164);}
      p{font-weight: 600; font-size: 3em;}
      ul{font-style: italic; line-height: 20px; text-align: start; text-decoration: underline;} 