* {
  margin: 0;
}

#h2initial {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: blueviolet;
  color: rgb(214, 214, 214);
}

#section-container {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  /* flex-wrap: wrap; */
  border: 1px solid blueviolet;
  padding-top: 20px;
  padding-bottom: 20px;
}

.options {
  display: flex;
  flex-direction: column;
}

#main {
  text-align: center;
  padding: 40px;
}